/* ==========================================================================
   Capital Framework
   Tab Styling
   ========================================================================== */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* ==========================================================================
   Capital Framework
   Color Variables
   ========================================================================== */
/* topdoc
    name: LESS notes
    family: cf-tabs
    patterns:
    - name: Variables
      codenotes:
        - "@btn-font-size: 14px;"
        - "@btn-v-padding: 9px;"
        - "@btn-v-padding-modifier-ie: .8;"
      notes:
        - "@btn-v-padding-modifier-ie is used to fix the vertical padding bug in IE for <button>'s and <inputs>'s
          across various .btn styles. We should revisit this after adding normalize.css to see if this is still needed."
    tags:
    - cf-tabs
    - less
*/
/* topdoc
    name: Default tab
    family: cf-tabs
    patterns:
    - name: Default state
      markup: |
        <div class="tabs">
            <ul>
                <li><a href="#tabset1-tab1">First Tab</a></li>
                <li><a href="#tabset1-tab2">Second Tab</a></li>
                <li><a href="#tabset1-tab3">Third Tab</a></li>
            </ul>
            <div id="tabset1-tab1">
                <h3>First Tab Heading</h3>
                <p>Content</p>
            </div>
            <div id="tabset1-tab2">
                <h3>Second Tab Heading</h3>
                <p>Content</p>
            </div>
            <div id="tabset1-tab3">
                <h3>Third Tab Heading</h3>
                <p>Content</p>
            </div>
        </div>
    tags:
    - cf-tabs
*/
/* TABS */
.tabs {
  margin: 0 0 1em;
}
.tabs ul.cf-tablist {
  border-bottom: 4px solid #2cb34a;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tabs ul.cf-tablist:before,
.tabs ul.cf-tablist:after {
  content: " ";
  display: table;
}
.tabs ul.cf-tablist:after {
  clear: both;
}
.tabs ul.cf-tablist li {
  float: left;
  margin: 0;
  padding: 0;
}
.tabs ul.cf-tablist li a {
  font-family: "Avenir Next", Arial, sans-serif;
  color: #101820;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
  background-color: #e3e4e5;
  position: relative;
  display: block;
  top: 0;
  margin-right: .5em;
  padding: .5em 2em;
}
.tabs ul.cf-tablist li a.active {
  background-color: #2cb34a;
  color: #ffffff;
}
.tabs ul.cf-tablist li a.active:hover {
  background-color: #addc91;
  border: none;
}
.tabs ul.cf-tablist li a:hover {
  background-color: #2cb34a;
  color: #ffffff;
}
.tabs ul.cf-tablist li a:hover,
.tabs ul.cf-tablist li a:focus {
  /* over-ride bottom borders from CFPB global styles.css */
  border-bottom: none;
}
.tabs .cf-tabpanel {
  background: #ffffff;
  padding: 1em 0;
}
.tabs .cf-tabpanel > div {
  min-height: 4em;
}
.tabs .cf-tabpanel > div:before,
.tabs .cf-tabpanel > div:after {
  content: " ";
  display: table;
}
.tabs .cf-tabpanel > div:after {
  clear: both;
}
/* END TABS */
/* topdoc
  name: EOF
  eof: true
*/
