/* ==========================================================================
   Capital Framework
   Tab Styling
   ========================================================================== */

/* http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@import "../vendor/cf-colors/cf-colors.less";

// LESS Font stack variables
@sans-serif: "Avenir Next", Arial, sans-serif;
@serif: Georgia, "Times New Roman", serif;



/* topdoc
    name: LESS notes
    family: cf-tabs
    patterns:
    - name: Variables
      codenotes:
        - "@btn-font-size: 14px;"
        - "@btn-v-padding: 9px;"
        - "@btn-v-padding-modifier-ie: .8;"
      notes:
        - "@btn-v-padding-modifier-ie is used to fix the vertical padding bug in IE for <button>'s and <inputs>'s
          across various .btn styles. We should revisit this after adding normalize.css to see if this is still needed."
    tags:
    - cf-tabs
    - less
*/




/* topdoc
    name: Default tab
    family: cf-tabs
    patterns:
    - name: Default state
      markup: |
        <div class="tabs">
            <ul>
                <li><a href="#tabset1-tab1">First Tab</a></li>
                <li><a href="#tabset1-tab2">Second Tab</a></li>
                <li><a href="#tabset1-tab3">Third Tab</a></li>
            </ul>
            <div id="tabset1-tab1">
                <h3>First Tab Heading</h3>
                <p>Content</p>
            </div>
            <div id="tabset1-tab2">
                <h3>Second Tab Heading</h3>
                <p>Content</p>
            </div>
            <div id="tabset1-tab3">
                <h3>Third Tab Heading</h3>
                <p>Content</p>
            </div>
        </div>
    tags:
    - cf-tabs
*/


/* TABS */
.tabs { 
    margin: 0 0 1em;

    
    ul.cf-tablist {
        .clearfix();
        border-bottom: 4px solid @green;
        list-style-type: none;
        margin: 0; 
        padding: 0;

        li {
            
            float: left;
            margin: 0;
            padding: 0;
            
            a {
                // font
                font-family: @sans-serif;
                color: @black;
                cursor: pointer;
                text-decoration: none;
                // over-ride bottom borders from CFPB global styles.css 
                border-bottom: none;

                //tab color
                background-color: @gray-20;

                // position
                position: relative; 
                display: block; 
                top: 0;

                margin-right: .5em;
                padding: .5em 2em;

                &.active {
                    background-color: @green;
                    color: @white;

                    &:hover {
                        background-color: @green-midtone;
                        border: none;
                    }    
                }

                &:hover {
                    background-color: @green;
                    color: @white;

                }

                &:hover,
                &:focus {
                    /* over-ride bottom borders from CFPB global styles.css */
                    border-bottom: none;
                }
            } //a
        } //li
    } //ul.cf-tablist


    .cf-tabpanel {
        background: @white;
        padding: 1em 0;

        > div {
            .clearfix();
            min-height: 4em;
        }
        
    } //cf-tabpanel

} //tabs
/* END TABS */


/* topdoc
  name: EOF
  eof: true
*/
